// CSS3 var
@use "./var.scss";
// reset default css
@use "./common/reset.css";

body {
	font-family:
		"Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑",
		Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	color: var(--text-color-primary);
	font-size: var(--font-size-base);
	.el-select {
		--el-select-width: 180px;
	}
}

#app {
	position: relative;
	width: 100%;
	height: 100%;
}
